---
import Container from "~/components/common/Container.astro";
import Section from "~/components/common/Section.astro";
import Addon from "~/components/sections/Addon.astro";
import PricingCard from "~/components/sections/PricingCard.astro";
import { addons, pricingTiers } from "~/constants";
---

<Section id="pricing" class="bg-primary text-white">
  <Container class="flex flex-col items-center justify-between gap-12">
    <div class="mx-auto space-y-6 text-center">
      <h2 class="text-lg font-medium tracking-wide text-accent-light">PRICING</h2>
      <p class="mx-auto max-w-md text-2xl font-medium sm:text-4xl">Prices That Make Sense For Small Businesses</p>
    </div>

    <div class="isolate mx-auto mt-10 flex flex-col gap-8 lg:flex-row">
      {pricingTiers.map((t) => <PricingCard {...t} />)}
    </div>

    <div class="w-full">
      <h2 class="text-center text-lg font-medium tracking-wide text-accent-light">ADDONS</h2>
      <div class="isolate mx-auto mt-10 grid grid-cols-1 gap-4 sm:grid-cols-2">
        {addons.map((a) => <Addon {...a} />)}
      </div>
    </div>

    <p class="text-center text-lg font-normal">
      Just need some help with your existing site? We have a flat fee of $75/hr.
    </p>
  </Container>
</Section>
