---
import Button from "~/components/common/Button.astro";
import Container from "~/components/common/Container.astro";
import FormField from "~/components/forms/FormField.astro";
import FormInput from "~/components/forms/FormInput.astro";
import FormLabel from "~/components/forms/FormLabel.astro";
import FormRadio from "~/components/forms/FormRadio.astro";
import FormTextArea from "~/components/forms/FormTextArea.astro";
import Layout from "~/layouts/Layout.astro";

const meta = {
  title: "Connect with Us",
  description:
    "Connect with us at Friendly Bear Labs. Whether you have questions or exciting projects, we're ready to hear from you. Let's create together!",
};
---

<Layout meta={meta}>
  <Container class="space-y-8">
    <div>
      <h1 class="text-5xl font-bold">Let's work together</h1>
      <p class="mt-4 text-2xl">We can't wait to hear from you.</p>
    </div>

    <div>
      <form
        id="contact"
        action={`${import.meta.env.PUBLIC_ADMIN_URL}/create-lead`}
        method="post"
        class="fade-in-section max-w-md space-y-4"
      >
        <FormField>
          <FormLabel for="name">Name</FormLabel>
          <FormInput id="name" name="name" required placeholder="Steve Zissou" type="text" />
        </FormField>

        <FormField>
          <FormLabel for="email">Email</FormLabel>
          <FormInput id="email" name="email" required placeholder="steve@lifeaquatic.com" type="email" />
        </FormField>

        <FormField>
          <FormLabel for="company">Company</FormLabel>
          <FormInput id="company" name="company" required placeholder="The Life Aquatic" type="text" />
        </FormField>

        <FormField>
          <FormLabel for="phone">Phone</FormLabel>
          <FormInput id="phone" name="phone" inputmode="numeric" placeholder="(888) 490-7894" />
        </FormField>

        <FormField>
          <FormLabel for="message">Message</FormLabel>
          <FormTextArea
            id="message"
            name="message"
            required
            placeholder="I need a new website for my submarine expedition business."
          />
        </FormField>

        <fieldset>
          <legend class="font-bold">Budget</legend>
          <div class="mt-2 flex flex-col items-start gap-4">
            <FormRadio name="budget" label="$1,000 - $2,500" value="$1,000 - $2,500" required />
            <FormRadio name="budget" label="$2,500 - $5,000" value="$2,500 - $5,000" />
            <FormRadio name="budget" label="$5,000+" value="$5,000+" />
          </div>
        </fieldset>

        <div class="border-input w-full border-t"></div>

        <FormField>
          <FormLabel for="attribution">How did you hear about us?</FormLabel>
          <select
            id="attribution"
            name="attribution"
            required
            class="mt-2 block w-full rounded-md border-0 py-3 pl-3 pr-10 ring-1 ring-inset ring-muted-foreground transition focus:ring-2 focus:ring-accent"
          >
            <option value="" selected disabled>Choose one</option>
            <option value="GOOGLE">Google</option>
            <option value="FACEBOOK">Facebook</option>
            <option value="INSTAGRAM">Instagram</option>
            <option value="TWITTER">Twitter</option>
            <option value="LINKEDIN">LinkedIn</option>
            <option value="REFERRAL">Referral</option>
            <option value="OTHER">Other (please specify)</option>
          </select>
        </FormField>

        <div id="attribution-other" class="hidden w-full flex-col gap-3">
          <FormLabel id="attribution-other-label" for="attributionNote" />
          <FormInput id="attributionNote" name="attributionNote" type="text" />
        </div>

        <input type="hidden" name="meta" id="meta" />

        <Button size="lg">Get Started</Button>
        <p id="submit-message" class="mt-2" style="opacity: 0; visibility: hidden; transition: opacity 0.3s ease-out;">
        </p>
      </form>
    </div>
  </Container>
</Layout>

<script>
  const attribution = document.getElementById("attribution");
  const attributionOther = document.getElementById("attribution-other");
  const attributionOtherLabel = document.getElementById("attribution-other-label");

  if (attribution instanceof HTMLSelectElement && attributionOther instanceof HTMLDivElement) {
    attribution.addEventListener("change", (e) => {
      if (!(e.target instanceof HTMLSelectElement) || !(attributionOtherLabel instanceof HTMLLabelElement)) {
        return;
      }

      if (e.target.value === "OTHER" || e.target.value === "REFERRAL") {
        attributionOther.classList.add("flex");
        attributionOther.classList.remove("hidden");
        attributionOtherLabel.textContent = e.target.value === "OTHER" ? "Other" : "Who Referred You?";
      } else {
        attributionOther.classList.remove("flex");
        attributionOther.classList.add("hidden");
      }
    });
  }
</script>

<script>
  const form = document.getElementById("contact");
  const msg = document.getElementById("submit-message");

  if (form instanceof HTMLFormElement && msg instanceof HTMLParagraphElement) {
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      console.log(Object.fromEntries(formData));
      fetch(form.action, {
        method: form.method,
        body: formData,
        headers: {
          Accept: "application/json",
        },
      })
        .then((res) => {
          msg.style.opacity = "1";
          msg.style.visibility = "visible";
          if (res.ok) {
            form.reset();
            msg.style.color = "var(--color-success)";
            msg.textContent = "Thanks for reaching out! We'll be in touch soon.";
          } else {
            msg.style.color = "var(--color-destructive)";
            msg.textContent = "Something went wrong. Please try again.";
          }
        })
        .catch((err) => {
          console.error(err);
          msg.style.opacity = "1";
          msg.style.visibility = "visible";
          msg.style.color = "var(--color-destructive)";
          msg.textContent = "Something went wrong. Please try again.";
        });
    });
  }
</script>

<script>
  const meta = document.getElementById("meta");
  if (meta instanceof HTMLInputElement) {
    console.log("meta not found");
    meta.value = JSON.stringify({
      url: window.location.href,
      referrer: document.referrer,
      userAgent: navigator.userAgent,
      language: navigator.language,
      doNotTrack: navigator.doNotTrack,
      cookieEnabled: navigator.cookieEnabled,
    });
  }
</script>
