---
import Button from "~/components/common/Button.astro";
import ButtonGroup from "~/components/common/ButtonGroup.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout meta={{ title: "Home", description: "A starter template for Friendly Bear Labs Clients" }}>
  <main class="grid h-[2000px] place-items-center">
    <h1>Welcome to the Friendly Bear Labs Starter</h1>
    <ButtonGroup>
      <Button>Click me!</Button>
      <Button>Click me too!</Button>
    </ButtonGroup>
  </main>
</Layout>
