---
import FinalCTA from "~/components/sections/FinalCTA.astro";
import Hero from "~/components/sections/Hero.astro";
import Pricing from "~/components/sections/Pricing.astro";
import WhatWeDo from "~/components/sections/WhatWeDo.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout
  meta={{
    title: "Empowering Small Businesses",
    description: "Unlock success with Friendly Bear Labs. Expert web solutions tailored to your needs. Discover more.",
  }}
>
  <main id="main">
    <Hero />
    <WhatWeDo />
    <Pricing />
    <FinalCTA />
  </main>
</Layout>
