---
import FinalCTA from "~/components/sections/FinalCTA.astro";
import Hero from "~/components/sections/hero/Hero.astro";
import Pricing from "~/components/sections/pricing/Pricing.astro";
import Services from "~/components/sections/services/Services.astro";
import { COMPANY_NAME } from "~/config";
import Layout from "~/layouts/Layout.astro";
---

<Layout
  meta={{
    title: `Send Your Business Into Orbit | ${COMPANY_NAME}`,
    description: `Unlock success in the digital cosmos with ${COMPANY_NAME}. Expert web solutions tailored to your needs. Discover more.`,
  }}
>
  <main id="main">
    <Hero />
    <Services />
    <Pricing />
    <FinalCTA />
  </main>
</Layout>
