---
import Hero from "~/components/sections/Hero.astro";
import Aside from "~/components/sections/Pricing.astro";
import WhatWeDo from "~/components/sections/WhatWeDo.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout meta={{ title: "Home", description: "A starter template for Friendly Bear Labs Clients" }}>
  <main id="main">
    <Hero />
    <WhatWeDo />
    <Aside />
  </main>
</Layout>
