---
import Container from "~/components/common/Container.astro";
---

<footer class="mt-auto grid place-items-center border-t border-gray-300 bg-bg px-[--page-px] py-24">
  <Container>
    <h2>Footer</h2>
  </Container>
</footer>
