---
import Container from "~/components/Container.astro";
import Button from "~/components/common/Button.astro";
import { topNavLinks } from "~/constants";
import { cn } from "~/lib/utils";

type Props = {
  sticky?: boolean;
};

const { sticky } = Astro.props;
---

<header
  class={cn(
    "flex h-[--header-height] min-h-[--header-height] items-center bg-white",
    sticky ? "sticky inset-x-0 top-0" : ""
  )}
>
  <Container class="flex h-10 w-full items-center">
    <span class="font-black">Company Name</span>
    <!-- Desktop -->
    <nav class="ml-auto hidden sm:block">
      <ul class="flex flex-wrap gap-12">
        {
          topNavLinks.map(({ href, label }) => {
            return (
              <li>
                <a class="p-2" href={href}>
                  {label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>

    <!-- Mobile -->
    <nav class="z-[1] ml-auto sm:hidden">
      <div id="mobile-menu-overlay" class="fixed inset-0 hidden bg-gray-500"></div>
      <Button style="outline" aria-label="Open Menu">Menu</Button>
      <!-- Drawer -->
      <div
        id="mobile-menu"
        role="dialog"
        aria-labelledby="mobile-menu-title"
        class="fixed inset-y-0 right-0 h-screen w-2/3 translate-x-full bg-white p-6 shadow-xl will-change-auto sm:hidden"
      >
        <Button style="outline" class="w-min" aria-label="Close Menu">Close</Button>
        <h2 id="mobile-menu-title" class="sr-only">Navigation</h2>
        <ul class="mt-8 flex flex-col gap-12 border-t border-gray-200 pt-8">
          {
            topNavLinks.map(({ href, label }) => {
              return (
                <li>
                  <a class="p-2 first-of-type:-mt-2" href={href}>
                    {label}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </nav>
  </Container>
</header>

<script>
  import { animate } from "motion";
  const mobileMenu = document.getElementById("mobile-menu");
  const overlay = document.getElementById("mobile-menu-overlay");
  const openMenuButton: HTMLButtonElement | null = document.querySelector("[aria-label='Open Menu']");
  const closeMenuButton: HTMLButtonElement | null = document.querySelector("[aria-label='Close Menu']");

  function openNav() {
    if (!mobileMenu || !overlay) return;
    overlay.classList.remove("hidden");
    mobileMenu.classList.remove("hidden");

    animate(mobileMenu, { transform: ["translateX(100%)", "translateX(0)"] });
    animate(overlay, { opacity: [0, 0.75] });
  }

  function closeNav() {
    if (!mobileMenu || !overlay) return;

    animate(mobileMenu, { transform: ["translateX(0)", "translateX(100%)"] }, { duration: 0.25 }).finished.then(() => {
      mobileMenu.classList.add("hidden");
    });
    animate(overlay, { opacity: [0.75, 0] }).finished.then(() => {
      overlay.classList.add("hidden");
    });
  }

  if (overlay) {
    overlay.addEventListener("click", () => closeNav());
  }

  if (openMenuButton) {
    openMenuButton.addEventListener("click", () => {
      closeMenuButton?.focus();
      openNav();
    });
  }

  if (closeMenuButton) {
    closeMenuButton.addEventListener("click", () => {
      closeNav();
    });
  }
</script>
