@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* variables */

    --header-height: 96px;
    --max-content-width: 1024px;

    /* padding between viewport and content */
    --page-px: 24px;

    --primary: 240 48% 17%;
    --secondary: 217.78 23.08% 22.94%;
    --accent: 270 98% 62%;
    --accent-dark: 271 78% 47%;
    --accent-light: 269 100% 85%;
  }

  p {
    @apply font-light;
  }

  strong {
    @apply font-medium;
  }
}

@layer components {
}

@layer utilities {
}
